extends ./_layout/materialize.pug
block content
    .section.no-pad-bot
        .container(style="min-height:420px")
            h1.header.center.grey-text nodeBasicApp #{_APP_INFO.version}
            p.center.gray-text EITA 404
    .divisor
    section
        .container
            .col.s12
                p.center Aqui você encontrará, tela de login, registro e sessão para o projeto e também modelo em moogose de usuário
