extends ./_layout/materialize.pug

block content
    .container
        .row.section
            .col.m4.offset-m4.card
                .row    
                    form.col.s12(action="/user/logar", method="POST")
                        .row
                            .col.s12
                                h3.titulo.center basicNodeApp
                        .row
                            input-field.col.s12
                                input(placeholder="mail@basicnodeapp.com.br", id="email", type="text", class="validate", name="email", required="required")
                        .row
                            input-field.col.s12
                                input(placeholder="Usuário", id="password", type="password", class="validate", name="password", required="required")
                        .row
                            input-field.col.s12
                                button(placeholder="Usuário", type="submit" name="action", class='btn waves-effect waves-light')
                                    i(class="material-icons right") Send

