extends ./_layout/materialize.pug

block content
    .container
        .row.section
            .col.m10.offset-m1.card
                .row 
                    p user logado   


block append footerJS
    script(src="/js/lib/forms.js")
